.main {
  height: 100vh;
  width: 100%;
  display: relative;
  background: red;
  background: #ed1b24;
}

.titleContainer {
  top: 190px;
  position: absolute;
  width: 100%;
}

.titleContainer h1 {
  font-size: 4rem;
  max-width: 400px;
  margin: auto;
  text-align: center;
}
